body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #008080; 
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #FF6F61; 
}

main {
    padding: 100px 20px 80px; /* Increase padding-bottom to make space for the footer */
}

h1 {
    color: #008080; 
    font-size: 3em;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 20px 0;
    animation: fadeIn 1.5s ease-in-out;
}

footer {
    background-color: #008080;
    color: #fff;
    padding: 10px 0; /* Adjust padding */
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: inline-block;
    text-align: left;
    width: 80%;
    max-width: 500px;
    margin-top: 20px;
    animation: fadeInUp 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 4px;
    transition: border-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.8); 
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #008080; /* Teal */
}

input[type="submit"] {
    background-color: #FF6F61; /* Coral */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #FF9671; 
}

.image-slots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.image-slots img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

.image-slots img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
