<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easter Egg - Kibo Meet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
    let easterEggCount = 0;
    $(document).keydown(function(event) {
        if (event.key === 'e' || event.key === 'E') {
            easterEggCount++;
            if (easterEggCount === 3) {
                window.location.href = "{{ url_for('easter_egg1') }}";
                easterEggCount = 0; 
            }
        } else {
            easterEggCount = 0; 
        }
    });
</script>
</head>
<body>
    <header>
        <nav>
            <a href="/home">Home</a>
            <a href="#about">About</a>
            <a href="{{ url_for('contact') }}">Contact Us</a>
            <a href="{{ url_for('easter_egg') }}">Easter Egg</a>
        </nav>
    </header>

    <main>
        <section>
            <h1>Congratulations!</h1>
            <p>You've found the hidden Easter egg! Here's a funny message just for you:</p>
            <p>What Do You Call A Fish Without eyes, A FSH</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Kibo Meet. All rights reserved.</p>
    </footer>
</body>
</html>
